/** ****************************************************************

    CSS Variables

    Font rules are setup in base.scss for all major
    elements using CSS variables.
    When there's need to override a font rule, there's no need to
    set again the rules, but it's best to just set a new value for
    a CSS variable for a font rule.

    **************************************************************** */

:root {
  // ################################################################
  //    COLORS
  // ################################################################
  --color-brand: #e6795;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #487abf;
  --color-blue-star: #1a4795;
  --color-dark: #1e1d1c;
  --color-gold: #c7f064;
  --color-green: #66c364;
  --color-light: #f0f3e0;
  --color-montana: #c08859;
  --color-orange: #b08054;
  --color-purple: #cca4c3;
  --color-yellow: #d9bc32;

  // ################################################################
  //    DARK/LIGHT THEME
  // ################################################################

  --theme-foreground: var(--color-black);
  --theme-background: var(--color-light);
  --theme-brand: var(--color-red);

  // defaults
  --body-background: var(--theme-background);
  --body-font-color: var(--theme-foreground);


  // ################################################################
  //    TYPOGRAPHY SCALE & FONTS
  // ################################################################
  --baseline: 1.5;
  --body-font-weight: 400;
  --heading-font-weight: 400;
  --kerning: normal; // auto (default), normal (enabled), none (disabled)

  // Fonts
  --variable-font-family-default: 'Bodoni Moda', Helvetica, Roboto, Arial, sans-serif;
  --variable-font-family-brutal: 'annonce', Roboto, Helvetica, Arial, sans-serif;
  --variable-heading-font-family: none;
  --body-font-family: var(--variable-font-family-default);
  --heading-font-family: var(--variable-font-family-default);

  // font weights
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  // type scale
  --text-base-size: 1rem; // 16px - html is set to 112.5%
  --text-scale-14: calc(14 / 16 * 1rem); //  14
  --text-scale-16: calc(16 / 16 * 1rem); //  16
  --text-scale-20: 1.25rem; //  20
  --text-scale-24: calc(24 / 16 * 1rem); //  24
  --text-scale-32: calc(32 / 16 * 1rem); //  32
  --text-scale-40: 2.5rem; //  40


  /* max text sizes  */
  --text-max-width: 38rem;

  /* focus state */
  --focus-outline: none;
  --focus-box-shadow: none;
  --focus-border-size: 2px;
  --focus-border-style: dashed;
  --focus-border-color: var(--color-black);


  /* vf initial values */
  --heading-weight: 700;
  --text-weight: var(--body-font-weight);
  --text-width: 100;
  // --text-opticalsize: 16;

  /* spacing */
  --text-letter-spacing: 1px;
  --text-on-dark-letter-spacing: 2px;


  // ################################################################
  //    SHADOWS
  // ################################################################
  --default-box-shadow: none;
  --default-text-shadow: none;


  // ################################################################
  //    STATES
  // ################################################################
  --selection-color: var(--color-white);
  --selection-background-color: var(--color-pantone);
  --placeholder-color: var(--color-black);


  // ################################################################
  //    GLOBALS
  // ################################################################
  --global-radius: 10px;


  // ################################################################
  //    SECTIONING
  // ################################################################
  --sectionMaxWidth: 1024px;

  // ################################################################
  //    TRANSITIONS
  // ################################################################
  --link-underline-transition: width 0.35s linear;
  --transition-transform: transform .35s linear;
  --transition-background-size: background-size .35s linear;
  --transition-background-color: background-color .35s linear;
  --transition-color: color .35s linear;
}

